In [27]:
import numpy as np
import pandas as pd
import glob
import os
from tqdm import tqdm
import seaborn as sns
from joblib import dump, load, Parallel, delayed

In [13]:
data_dir = "../../input/optiver-realized-volatility-prediction/"
train_order = glob.glob(os.path.join(data_dir, "book_train.parquet/*/*"))
train_trade = glob.glob(os.path.join(data_dir, "trade_train.parquet/*/*"))

In [15]:
for path in tqdm(train_order):
    stock_id = int(path.replace("\\", "/").split("=")[1].split("/")[0])
    book_df = pd.read_parquet(path)
    break

  0%|                                                                                          | 0/112 [00:00<?, ?it/s]

In [16]:
book_df.head()

,time_id,seconds_in_bucket,bid_price1,ask_price1,bid_price2,ask_price2,bid_size1,ask_size1,bid_size2,ask_size2
0,5,0,1.001422,1.002301,1.00137,1.002353,3,226,2,100
1,5,1,1.001422,1.002301,1.00137,1.002353,3,100,2,100
2,5,5,1.001422,1.002301,1.00137,1.002405,3,100,2,100
3,5,6,1.001422,1.002301,1.00137,1.002405,3,126,2,100
4,5,7,1.001422,1.002301,1.00137,1.002405,3,126,2,100

In [35]:
minmax_stat_path = "../../ckpts/{}_minmax_stat_fold_{}.pkl".format("bert", 1)

In [36]:
minmax_stat = load(minmax_stat_path)

In [37]:
minmax_stat

{'order_min': array([-3.3800341e-02, -3.7273318e-02,  5.2452087e-06,  3.9339066e-05,
        -9.6741500e+05, -7.8365300e+05, -9.9997890e-01, -9.9998671e-01,
        -2.4471147e-02, -3.0927841e-02], dtype=float32),
 'order_max': array([ 3.2983236e-02,  4.3985270e-02,  5.0170064e-02,  6.3829780e-02,
         3.3939200e+05,  8.7809400e+05,  9.9997932e-01,  9.9998301e-01,
        -2.6230957e-06, -1.9679910e-05], dtype=float32),
 'trade_min': array([-0.02304586,  0.        ,  0.        ]),
 'trade_max': array([1.58063527e-02, 7.29370312e+05, 3.72900000e+03])}

In [38]:
a = np.array([1 , 2, 3, np.nan])
b = np.array([2, 1, 3, 4])

print(np.fmin(a, b))

[1. 1. 3. 4.]